<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:fragment="siteHeader">
    <div style="float: right; margin-bottom: 10px;">
        <a th:href="@{''(lang=pt)}"><img alt="PT" th:src="@{/images/Brasil.gif}" style="width: 40px;" /></a>
        <a th:href="@{''(lang=en)}"><img alt="EN" th:src="@{/images/EUA.gif}" style="width: 40px;" /></a>
        <a th:href="@{''(lang=fr)}"><img alt="FR" th:src="@{/images/Franca.gif}" style="width: 40px;" /></a>
        <a th:href="@{''(lang=ja)}"><img alt="JA" th:src="@{/images/Japao.gif}" style="width: 40px;" /></a>
    </div>

    <div class="mural-header" style="clear: both;">
        <b th:text="#{header.user}">Usuário:</b>
        <span th:text="${#authentication.name}">Teste</span>
        &nbsp;|&nbsp; <a th:href="@{/logout}" th:text="#{header.logout}">Logout</a>
    </div>
</div>
</body>
</html>